.about{
    transition: all 0.3s ease;

    background: #fff;
}

.peek .about {
    opacity: 0.1;
}


.about .hero{
  display: block;
  background: #FFDC3B;
  width: 100%;
  height: 10rem;
}

.about .illustration{
  margin-top: 3rem;
}

.about .block{
  padding: 1rem 3rem;
}

.about .instructions{
  padding: 1rem 14rem;
}

.about .gallery li{
  display: inline-block;
  width: 25%;
  text-align: center;
}

.about .gallery img{
  border: 3px solid #FFEE00;
}