.about .section{
  display: block;
  position: relative;
  padding: 80px 30px;
  text-align: center;
}

.about .second, .about .third, .about .fourth{
  color: #fff;
}

.about .first{
  background-color: #fed200;
  z-index: 10;

  padding-bottom: 0;
}

  .about .first:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(251, 201, 31, 0);
    border-top-color: #fed200;

    border-width: 30px;
    margin-left: -30px;
    z-index: 9;
  }

  .about .first img{
    margin-bottom: -3px;
    
    background: rgba(204, 164, 28, 0.55);
    box-shadow: 0px -1px 17px 5px rgba(204, 164, 28, 0.75);
  }

  .about .first .imageContainer{
    padding: 20px 20px 0 20px;
    overflow: hidden;
  }

.about .second{
  background-color: #4857bc;
  z-index: 8;
}

  .about .second:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(56, 63, 174, 0);
    border-top-color: #4857bc;
    border-width: 30px;
    margin-left: -30px;
    z-index: 7;
  }

.about .third{
  background-color: #11b181;
  z-index: 6;
}

  .about .third:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(58, 165, 110, 0);
    border-top-color: #11b181;
    border-width: 30px;
    margin-left: -30px;
    z-index: 5;
  }

.about .fourth{
  background-color: #e12234;
  z-index: 4;
}

.about .tabsContainer{
  overflow: auto;
  width: 100%
}

.about .tabs{
  background-color: #13ca92;
  float: left;
}
.about .tabs dd{
  display: none;
}
  .about .tabs dt{
    float: left;
  }

  .about .tabs dd.active{
    float: right;
    display: block;
    margin-top: 60px;
  }