.about{
  transition: all 0.3s ease;

  background: #fff;

}

.peek .about {
    opacity: 0.1;
}

.about .tophero{
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;


  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-hieght: 1.4em
}

  .tophero img{
    width: 100%;
    height: auto;
  }

  .tophero .lead{
    position: absolute;
    right: 100px;
    top: 30%;
    z-index: 2;

    color: #fff;
  }

  .tophero:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
    );

  }


.about .hero{
  display: block;
  background: #FFDC3B;
  width: 100%;
  height: 10rem;
}

.about .illustration{
  margin-top: 3rem;
  text-align: center;
}

.about .block{
  padding: 1rem 3rem;
}

.about .instructions{
  padding: 1rem 14rem;
}

.about .gallery li{
  display: inline-block;
  width: 25%;
  text-align: center;
}

.about .gallery img{
  border: 3px solid #FFEE00;
}

.retrieval img{
  float: left;
  margin: 0 10px 0 0;
}

.retrieval{
  clear: both;
}