.controls{
  position: fixed;
  box-sizing: border-box;
  background: #607d8b;
  width: 100%;
  margin: 0;
  padding: 10px;
}
  .controls ul{
    padding: 0;
    margin: 0;
  }

  .right{
    float: right;
  }

  .controls.hidden{
    display: none;
  }

  .controls button{
    background: #78909c;
    padding: 10px 10px 10px 35px;
    border-radius: 2px;
    border: 1px solid #78909c;
    -webkit-transition: border 0.3s ease;
  }

  .controls select{
    display: none;
  }

  .controls select:focus{
    display: block;
  }

  .controls .control{
    display: inline-block;
    margin: 0 5px 0 0;
  }

  @media (max-width: 700px) {
    .controls .control button {
      padding: 20px;
      overflow: hidden;
      background-position: center center;
    }

    .controls .control span{
      display: none;
    }
  }

  .controls button:hover, .controls button:focus{
    outline: none;
    border: 1px solid #282828;
    background-color: #eceff1;
  }

  .controls .zip{
    background: #cfd8dc url(../images/iconmonstr-zip-9-icon-24.png) 5px center no-repeat;
  }

  .controls .undo{
    background: #cfd8dc url(../images/iconmonstr-undo-5-icon-24.png) 5px center no-repeat;
  }

  .controls .resize{
    background: #cfd8dc url(../images/iconmonstr-resize-10-icon-24.png) 5px center no-repeat;
  }

  .controls .filter{
    background: #cfd8dc url(../images/iconmonstr-drop-11-icon-24.png) 5px center no-repeat;
  }

  .controls .delete{
    background: #cfd8dc url(../images/iconmonstr-x-mark-3-icon-24.png) 5px center no-repeat;
  }

  .controls .settings{
    background: #cfd8dc url(../images/iconmonstr-tools-2-icon-24.png) 5px center no-repeat;
  }

  .controls .animate{
    background: #cfd8dc url(../images/iconmonstr-video-4-icon-24.png) 5px center no-repeat;
  }