/* Stiziles */

html, body {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
}

html.home{
  background: #fff;
}

html.processing, html.processing body{
  background: #282828;
}

*{ box-sizing: border-box; }

.home{
    background: #fff;
}

/* main */
.container{
    width: 100%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}
