/* Stiziles */

html, body {
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;

  font-family: 'din', Helvetica;

  padding: 0;
  margin: 0;
}

html.home{
  background: #fff;
}

html.processing, html.processing body{
  background: #212121;
}

*{ box-sizing: border-box; }

.home{
  background: #fff;
}

/* main */
.container{
  width: 100%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}
