.downloadPanel{
  margin: 0 auto 20px auto;
  background: #fff;
  width: 100%;
  padding: 40px;

  font-family: Helvetica;
  color: #000;
}

.downloadPanel h1{
  margin-bottom: 20px;

  font-size: 1.6em;
}

.downloadPanel form{
  margin: 0 auto;
  width: 30%;
  min-width: 320px;
}

.downloadPanel .complete{
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #000;
}

.downloadPanel label select{
  float: right;
  font-weight: bold;
}

.downloadPanel .submit{
  float: left;
}

.downloadPanel .cancel{
  float: right;
}

.downloadPanel select{
  border: none;
  background: none;
}
