.photoList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 20px;

  list-style: none;
}

.photoList .photo{
    margin: 0px 12px 12px 12px;
    float: left;
}

.photoList canvas{
  display: block;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
