.photoList{
  float: left;
  margin-top: 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photoList .photo{
    margin: 0 0 25px 25px;
    float: left;
}

.photoList canvas{
  display: block;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
